<div class="container">
   <br>
   <div class="row">

      <div class="col-md-12">

         <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">Wellcome there!</h4>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu mattis felis, vitae viverra ante. Pellentesque et diam molestie, fermentum quam eget, suscipit nisl. Praesent eget tellus tempor, eleifend sapien ut, mattis nulla. Praesent sit amet tempor leo. In suscipit tristique enim vel pharetra</p>
            <p class="mb-0">Quisque a elit blandit, efficitur mi id, posuere massa. Sed lobortis ultricies dapibus. Aenean id tincidunt ex, ut ultricies elit. Aliquam erat volutpat.</p>
         </div>
      </div>

   </div>

   <div class="omb_login">
      <h3 class="omb_authTitle">Lets <a href="#">Sign In</a></h3>
      <div class="row omb_row-sm-offset-3 omb_socialButtons">
         <div class="col-xs-4 col-sm-2">
            <a href="/user/login/facebook" class="btn btn-lg btn-block omb_btn-facebook">
			        <i class="fa fa-facebook "></i>
			        <span class="hidden-xs">Facebook</span>
		        </a>
         </div>
         <div class="col-xs-4 col-sm-2">
            <a href="/user/login/github" class="btn btn-lg btn-block btn-info">
			        <i class="fa fa-github"></i>
			        <span class="hidden-xs">GitHub</span>
		        </a>
         </div>
         <div class="col-xs-4 col-sm-2">
            <a href="/user/login/gmail" class="btn btn-lg btn-block omb_btn-google">
			        <i class="fa fa-google-plus"></i>
			        <span class="hidden-xs">Google+</span>
		        </a>
         </div>
      </div>

   </div>
</div>